

#calendarContainer {
    padding: 1.5em 2.25em;
}

.thumbnail {
    padding: 1.5em 2.25em;
}

/**** Styles for the form ***/

/** cancel the default error messages **/
ul.errorlist {
    display: none;
}

/* for error messages */
.red {
    color: red;
}
/* form title */

h2.page-header {
    margin-top: 10px;
}

/* hide the save */
.save {
    display: none;
}

/* checkboxes! */

input#id_has_sunday.checkbox {

}

div.checkboxes {
    display: inline-block;
}

#id_color {
    list-style: none;
}


/* end date styles */
#end_date_div {
    margin-top: 7px;
}