

#calendarContainer {
    padding: 1.5em 2.25em;
}

.thumbnail {
    padding: 1.5em 2.25em;
}

/**** Styles for the form ***/

/** cancel the default error messages **/
ul.errorlist {
    display:none;
}

/* for error messages */
.red {
    color: red;
}

/* name field */
#name {

}

#id_color {
    list-style: none;
}


/* individual radios */
.color_choice {


}