
body {
    /*background: #375761;*/
    background: #5f7a87; /* Old browsers */
    background: -moz-linear-gradient(top,  #5f7a87 0%, #3d5968 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f7a87), color-stop(100%,#3d5968)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5f7a87 0%,#3d5968 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5f7a87 0%,#3d5968 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5f7a87 0%,#3d5968 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #5f7a87 0%,#3d5968 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f7a87', endColorstr='#3d5968',GradientType=0 ); /* IE6-9 */

}


.contentContainer {
    background: #F2F2F2; /* nice purple #A8ACBF;*/
    padding-top: 30px;
}


div.thumbnail.contentContainer{
    padding-top: 30px;
}

.jumbotron {
    background: #e3e3e3;
}

#calendarContainer {
    padding: 1.5em 2.25em;
    margin: 0 15px;
    background: white;
    border-radius: 6px;
}

.well {
    background: #FCF8E3;
}

.card {
    background: #e3e3e3;
}
.thumbnail {
    padding: 1.5em 2.25em;
}

#ttheader {
    padding-left: 20px;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary, .btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background: #2b542c;
    border-color: #2c622e !important;
    outline: 0;

}

.btn-primary:hover {
    background: #2e7130;
    border-color: #2c622e !important;
    
}





/**** Styles for the form ***/

/** cancel the default error messages **/
ul.errorlist {
    display: none;
}

/* for error messages */
.red {
    color: red;
}
/* form title */

h2.page-header {
    margin-top: 10px;
}

/* hide the save */
.save {
    display: none;
}

/* checkboxes! */


div.checkboxes {
    display: inline-block;
}

#id_color {
    list-style: none;
}


/* end date styles */
#end_date_div {
    margin-top: 7px;
}

/* styles for the register modal form */

#modal-register.modal-register {
    display: block;
}

#modal-register {
    display: none;
}

#modal-signin.modal-register {
    display: none;
}

#signin-link {
    margin-top: 5px;
}


.tt-buttons {
    margin-top: 50px;
}
/* hide the panels that are deleted */
.hide {
    display: none;
}

/* Styles for the timetable cards */

/* color block */
.ttcardCircle {
    display: inline-block;
    width: 18px;
    height: 18px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50%;
}

.ttcardRow {
    margin-right: -25px;
    margin-left: -25px;
}